li,a{
    list-style-type: none;
    text-decoration: none;
}
html{
    font-family:'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-width: 390px;
}
.header-background{
    margin: 0;
    padding: 0;
    background-image: url(img/back-desktop@1x.jpg);
    width: 100%;
    height: 853px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-nav{
    padding: 0;
    margin: 0;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba( 0, 0, 0, 30%);
}
.main-nav__logo{
    color: white;
}
.main-nav__item a{
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;   
    }
    &.main-nav__item:hover{
    border-bottom: 2px solid #ffffff;
}
.main-nav__item a:hover{
    color: #d22856;
    &:active{
        color: #ffffff;
        opacity: 30%;
    }
}


.intro{
    width: 100%;
    height: 743px;
}
.intro-media{
    width: 300px;
    height: 743px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.intro-header{
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: auto;
    color: #ffffff;
}
.intro-download{
    font-size: 18px;
    line-height: 18px;
    color: white;
    border: 3px solid white;
    padding: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    &.intro-download:hover{
        background-color: #ffffff;
        color: #db6882;
        &:active{
            color: #f2ced5;
        }
    }
}
.intro-availability{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    color: white;
}
.information{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1362px;
}
.information-hat{
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: auto;
    color: #283645;
    text-align: center;
}
.information-title{
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: auto;
    font-weight: bold;
}
.information-text{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: auto;
} 
.information-media{
    height: 558px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.information-wrapper{
    width: 235px;
    height: 558px;
    text-align: center;
} 
.information-content{
    width: 235px;
    height: 380px;
}
.information-iphone{
    position: relative;
    top: -339px;
    border: 2px solid black;
    border-radius: 3px;
    &.information-iphone:hover{
        opacity: 30%;
    }
}
