li,
a {
  list-style-type: none;
  text-decoration: none;
}
html {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  min-width: 950px;
}
.header-background {
  margin: 0;
  padding: 0;
  background-image: url(img/background.jpg);
  width: 100%;
  height: 853px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-opacity {
  min-width: 950px;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
.main-nav {
  padding: 0;
  margin: 0;
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav__logo {
  width: 150px;
  height: 40px;
  background-image: url(img/header/pink.svg);
  background-repeat: no-repeat;
}
.main-nav__logo.main-nav__logo:hover {
  background-image: url(img/header/pinkhover.svg);
}
.main-nav__logo.main-nav__logo:hover:active {
  background-image: url(img/header/pinkopacity.svg);
}
.main-nav__item a {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.main-nav__item:hover {
  border-bottom: 2px solid #ffffff;
}
.main-nav__item a:hover {
  color: #d22856;
}
.main-nav__item a:hover:active {
  color: #ffffff;
  opacity: 30%;
}
.intro {
  width: 100%;
  height: 743px;
  display: flex;
}
.intro-media {
  width: 300px;
  height: 743px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.intro-header {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: auto;
  color: #ffffff;
}
.intro-download {
  font-size: 18px;
  line-height: 18px;
  color: white;
  border: 3px solid white;
  padding: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.intro-download.intro-download:hover {
  background-color: #ffffff;
  color: #db6882;
}
.intro-download.intro-download:hover:active {
  color: #f2ced5;
}
.intro-image {
  width: 300px;
  height: 56px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.intro-availability {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
.intro-iphone {
  width: 560px;
  height: 743px;
}
.intro-iphone__iphone {
  position: relative;
  top: 99px;
}
.intro-iphone__display {
  border-radius: 3px;
  position: relative;
  top: -482px;
  left: 241px;
  border: 2px solid black;
}
.intro-iphone__display.intro-iphone__display:hover {
  opacity: 0;
}
.information-media__background {
  width: 100%;
  height: 557px;
  background-color: #f2f2f2;
}
.information-hat {
  width: 100%;
  height: 324px;
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: auto;
  color: #283645;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information-media {
  height: 557px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.information-wrapper {
  width: 235px;
  height: 558px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.information-content {
  width: 235px;
  height: 380px;
}
.information-iphone {
  position: relative;
  top: -339px;
  border: 2px solid black;
  border-radius: 3px;
}
.information-iphone.information-iphone:hover {
  opacity: 30%;
}
.information-title {
  margin: 0;
  padding: 0;
  font-size: 31px;
  line-height: auto;
  font-weight: bold;
}
.information-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: auto;
  color: #283645;
}
.information-diagram__background {
  width: 100%;
  height: 479px;
  background-color: #f2f2f2;
}
.information-diagram {
  width: 100%;
  height: 479px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.information-diagram__logo {
  width: 370px;
  height: 345px;
}
.information-diagram__logo-fill {
  position: relative;
  top: -279px;
  left: 23px;
}
.information-diagram__text {
  margin: 0;
  padding: 0;
  position: relative;
  top: -500px;
  left: 85px;
  font-size: 120px;
  line-height: 186px;
  color: #d22856;
  font-weight: bold;
}
.information-diagram__content {
  width: 570px;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information-link {
  width: 250px;
  color: #d22856;
  text-decoration: underline;
}
.rewiews {
  width: 100%;
  height: 414px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.rewiews-quotes {
  width: 100%;
  height: 63px;
  background-image: url(img/quotes.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.rewiews-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rewiews-left,
.rewiews-right {
  width: 22px;
  height: 41px;
  background-image: url(img/arrowleft.svg);
}
.rewiews-left.rewiews-right,
.rewiews-right.rewiews-right {
  transform: scale(-1, 1);
}
.rewiews-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  width: 650px;
}
.rewiews-name {
  margin: 0;
  padding: 0;
  font-size: 31px;
  line-height: 30px;
  font-weight: bold;
}
.rewiews-post {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.price {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 524px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.price-subcribe,
.price-subcribe-hidden {
  padding: 0;
  margin: 0;
  width: 235px;
  height: 97px;
  border-radius: 3px;
  background-color: #283645;
}
.price-subcribe.price-subcribe-hidden,
.price-subcribe-hidden.price-subcribe-hidden {
  background-color: #f2f2f2;
}
.price-subcribe__title,
.price-subcribe__cost {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: lighter;
}
.price-subcribe__title.price-subcribe__cost,
.price-subcribe__cost.price-subcribe__cost {
  font-size: 24px;
}
.price-cell,
.price-cell__yes,
.price-cell__no {
  margin: 0;
  padding: 0;
  width: 235px;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  padding-left: 24px;
  color: #283645;
  background-color: #ffffff;
}
.price-cell.price-cell__yes,
.price-cell__yes.price-cell__yes,
.price-cell__no.price-cell__yes {
  padding-left: unset;
  background-image: url(img/yes.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.price-cell.price-cell__no,
.price-cell__yes.price-cell__no,
.price-cell__no.price-cell__no {
  background-image: url(img/no.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.feedback {
  width: 100%;
  height: 366px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feedback-title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: auto;
  color: #283645;
  height: 246px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.feedback-comm {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: auto;
  color: #283645;
  font-weight: bold;
}
.feedback-contacts {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: auto;
  color: #d22856;
}
.feedback-wrapper__content {
  margin: 0;
  padding: 0;
  width: 237px;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.feedback-wrapper {
  display: flex;
  justify-content: space-between;
}
.map {
  width: 100%;
  height: 502px;
}
.map-triangle {
  width: 100%;
  background-image: url(img/ggg.svg);
  background-repeat: no-repeat;
  position: absolute;
  min-width: 950px;
}
.social {
  width: 100%;
  height: 197px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-logo {
  order: 2;
  width: 200px;
  height: 197px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-logo__twitter {
  width: 51px;
  height: 51px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background-image: url(img/footer/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-logo__twitter.social-logo__twitter:hover {
  border: 3px solid #283645;
  transition-duration: 0.2s;
}
.social-logo__twitter.social-logo__twitter:hover:active {
  opacity: 30%;
  border: 3px solid rgba(40, 54, 69, 0.4);
}
.social-logo__facebook {
  width: 51px;
  height: 51px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background-image: url(img/footer/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-logo__facebook.social-logo__facebook:hover {
  border: 3px solid #283645;
  transition-duration: 0.2s;
}
.social-logo__facebook.social-logo__facebook:hover:active {
  opacity: 30%;
  border: 3px solid rgba(40, 54, 69, 0.4);
}
.social-logo__youtube {
  width: 51px;
  height: 51px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background-image: url(img/footer/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-logo__youtube.social-logo__youtube:hover {
  border: 3px solid #283645;
  transition-duration: 0.2s;
}
.social-logo__youtube.social-logo__youtube:hover:active {
  opacity: 30%;
  border: 3px solid rgba(40, 54, 69, 0.4);
}
.social-pink__logo {
  order: 1;
  width: 150px;
  height: 40px;
  background-image: url(img/footer/pink.svg);
}
.social-pink__logo.social-pink__logo:hover {
  background-image: url(img/footer/pinkhover.svg);
  transition-duration: 0.2s;
}
.social-pink__logo.social-pink__logo:hover:active {
  background-image: url(img/footer/pinkopacity.svg);
}
.social-html__logo {
  order: 3;
  width: 150px;
  height: 34px;
  font-size: 18px;
  line-height: 18px;
  color: #283645;
  background-image: url(img/footer/html.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
}
.social-html__logo.social-html__logo:hover {
  background-image: url(img/footer/htmlhover.svg);
  transition-duration: 0.2s;
}
.social-html__logo.social-html__logo:hover:active {
  background-image: url(img/footer/htmlopacity.svg);
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
